* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: wheat;
}

h1 {
  color: #333;
}
h2 {
  padding: 10px;
}
#optionsContainer {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 75vw;
  display: flexbox;
  
}
#resultContainer {
  background-color: white;

  width: 75vw;
}
.boton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 10px;
}

#studentsContainer {
  margin-top: 20px;
  display: none;
}
.contenedor{
    width: 800px;
    border-radius: 10px;
    padding: 10px;
}
.contenedor2{
    border: solid 1px ;
    width: 800px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    flex-wrap: wrap;
}
.form {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    display: flex;
  flex-direction: column;
  columns: 3;
}

.form label{
    padding-right: 25px;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
